<!DOCTYPE html>
<html>

<head>{% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- web version
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.14.2/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/noUiSlider/11.1.0/nouislider.min.js"></script>
  <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/noUiSlider/11.1.0/nouislider.min.css" rel="stylesheet">
  -->
  <script src="{% static 'lib/jquery.min.js' %}"></script>
  <script src="{% static 'lib/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/nouislider.min.js' %}"></script>
  <link href="{% static 'lib/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/nouislider.min.css' %}" rel="stylesheet">

  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <script src="{% static 'lib/spin.min.js' %}"></script>
  <script src="{% static 'js/graph.js' %}"></script>
  <script src="{% static 'js/train_app.js' %}"></script>
  <title>Image Edit</title>
</head>

<body style="background-color: #FDF8F5">
  <div class="container-fluid">
    <div id="frame" class="col-md-12 col-sm-10 offset-sm-1">
      <div class="row my-4">
        <h4 class="col title">Extract Semantics from GANs</h4>
      </div>

      <div class="row d-flex justify-content-around my-4">
        <div class="option-item d-flex align-items-center mx-1">
          <label class="option-label">Semantic Category</label>
          <div class="dropdown">
            <button type="button" class="color-btn ml-2" id="category-drop-menu" aria-haspopup="true" data-toggle="dropdown">
              <div class="color-block"></div>
            </button>
            <ul class="dropdown-menu semantic-menu" role="menu" aria-labelledby="category-drop-menu" id="category-menu">
            </ul>
          </div>
        </div>

        <div class="option-item d-flex align-items-center mx-1">
          <label class="option-label">Line width</label>
          <div class="dropdown">
            <button type="button" class="width-btn ml-2" id="width-drop-menu" aria-haspopup="true" data-toggle="dropdown">
              <span id="width-label" class="width-label">5</span>
            </button>
            <div class="dropdown-menu width-menu" role="menu" aria-labelledby="width-drop-menu" id="width-menu">
              <div class="width-panel">
                <div class="slider" id="slider"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="option-item d-flex align-items-center mx-1">
          <label class="option-label">GAN Model</label>
          <div class="dropdown">
            <button type="button" class="model-btn d-flex align-items-center ml-1" id="model-drop-menu" aria-haspopup="true" data-toggle="dropdown">
              <span id="model-label">SegGAN (1024px)</span>
              <div class="caret ml-2"></div>
            </button>
            <ul class="dropdown-menu model-menu" role="menu" aria-labelledby="model-drop-menu" id="model-menu">
            </ul>
          </div>
        </div>
      </div>
      <!-- colors schemes : FDF8F5,E8CEBF,DDAF94,4F4836,266150 -->
      <div class="row col-md-12">
        <div class="row col-md-4 justify-content-center">
          <label class="option-label">Canvas</label>
        </div>
        <div class="row col-md-4 ml-2 justify-content-center">
          <label class="option-label">Annotations</label>
        </div>
        <div class="row col-md-4 ml-2 justify-content-center">
          <label class="option-label">Validation</label>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-4">
          <div id="image-container" class="row canvas-background my-2 canvas-shape justify-content-center align-items-center">
            <div id="spin"></div>
            <canvas id="canvas" width="256" height="256" class="image">
            </canvas>
            <img id="image" width="" height="" src="" class="image" hidden/>
            <button id="start" type="button" class="btn btn-outline-success btn-sm">
              Start ▶︎
            </button>
          </div>

          <div id="option-buttons" class="row col-md-12 justify-content-around">
            <div class="row col-md-12 d-flex">
              <button id="clear-image" type="button" class="col-md-4 option-btn">
                <div class="btn-icon clear-icon"></div>
                <div class="btn-text">Clear Image</div>
              </button>
              <button id="stroke" type="button" class="col-md-4 option-btn active">
                <div class="btn-icon stroke-icon"></div>
                <div class="btn-text">Hide Stroke</div>
              </button>
              <button id="start-new" type="button" class="col-md-4 option-btn">
                <div class="btn-icon regen-icon"></div>
                <div class="btn-text">Generate</div>
              </button>
            </div>
 
            <div class="row col-md-12 d-flex my-2">
              <button id="submit" type="button" class="submit-btn col btn">
                Submit
              </button>
            </div>
          </div>
        </div>

        <div class="row col-md-4 ml-2">
          <div id="ann-panel" class="row col-md-12 annpanel-background my-2">
          </div>
          <div class="row col-md-12 d-flex justify-content-around">
            <button id="col-md-5 download-sketch" type="button" class="download-btn">
              <div class="btn-text">Download Label</div>
            </button>
            <button id="col-md-5 offset-md-1 download-image" type="button" class="download-btn">
              <div class="btn-text">Download Image</div>
            </button>
            <!-- TODO: update the demo
            <button id="link-demo" type="button" class="download-btn">
              <a class="btn-text" target="_blank" href="https://github.com/thu-fit/NeuralPainterDemo">Demo Collections</a>
            </button>
            <button id="link-sample" type="button" class="download-btn">
              <a class="btn-text" target="_blank" href="{% static 'media/simple_np.mp4' %}">Simple Demo</a>
            </button>
            -->
          </div>
        </div>
        
        <div class="row col-md-4 ml-2">
          <div id="val-panel" class="row my-2 col-md-12 valpanel-background">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <form method="post" id="upload-form" class="container" action="upload" enctype="multipart/form-data">
    <div class="row">
      <label class="custom-file col-sm-9">
        <input type="file" id="choose" class="custom-file-input">
        <span id="filename" class="custom-file-control"></span>
      </label>
      <button id="upload" type="button" class="col-sm-3 color-btn btn btn-outline-primary btn-sm" onclick="">
        上传
      </button>
    </div>
  </form> -->
</body>

</html>